body, html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.app {
  width: calc((20px + 1px * 2) * 12);
  margin: auto;
  position: relative;
}

.grid-board {
  display: flex;
  justify-content: flex-start;
  flex-direction: col;
  align-items: flex-start;
  flex-wrap: wrap;
  height: 100%;

}

.grid-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.grid-square {
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  margin: 0px;
  border-radius: 3px;
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  height: calc(20px * 3 - 1px * 2);
}

.button {
  border: 1px solid #000;
  border-radius: 3px;
  flex: 1
}

.next-block {
  position: absolute;
  left: calc((20px + 2px) * 13);
  top: 0;
}

.score-board {
  position: absolute;
  right: calc((20px + 2px) * 13);
  top: 0;
  width: calc((20px + 2px) * 4);
  box-sizing: border-box;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 3px;
}
