* { box-sizing: border-box; }

body, html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: rgba(150, 150, 150, 1);
  font-family: Helvetica;
  font-size: 18px;
  font-weight: lighter;
  line-height: calc(18px * 1.5);
}

.app {
  width: calc((20px + 0px * 2) * 10);
  margin: auto;
  position: relative;
}

.game-container {
  position: relative;
}

.grid-board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 0;
}

.grid-square {
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  margin: 0px;
  border-radius: 0px;
  display: inline-block;
  text-align: center;
  border-width: 5px;
  border-left-color: rgba(255, 255, 255, 0.2);
  border-top-color: rgba(255, 255, 255, 0.33);
  border-right-color: rgba(0, 0, 0, 0.15);
  border-bottom-color: rgba(0, 0, 0, 0.26);
}

.controls {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: calc(20px * 10 / 4 - 1px * 2);
}

.button {
  border: 1px solid #000;
  border-radius: 3px;
  width: calc(20px * 10 / 4);
}

.next-block {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: calc(20px * 4 - 1px * 2);
  position: absolute;
  right: calc((20px + 2px) * 10);
  top: 0;
}

.score-board {
  position: absolute;
  left: calc((20px + 2px) * 10);
  top: 0;
  width: calc((20px + 2px) * 4);
  box-sizing: border-box;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

button {
  border-width: 5px;
  border-left-color: rgba(255, 255, 255, 0.2);
  border-top-color: rgba(255, 255, 255, 0.33);
  border-right-color: rgba(0, 0, 0, 0.15);
  border-bottom-color: rgba(0, 0, 0, 0.26);
}


/* Colors */
.color-0 {
  background-color: #eaeaea;
}

.color-1 {
  background-color: #ff6600;
}

.color-2 {
  background-color: #eec900;
}

.color-3 {
  background-color: #0000ff;
}

.color-4 {
  background-color: #cc00ff;
}

.color-5 {
  background-color: #00ff00;
}

.color-6 {
  background-color: #66ccff;
}

.color-7 {
  background-color: #ff0000;
}
